a:visited, a:link {text-decoration: none!important; }
a:hover {text-decoration: underline!important; }

html{height:100%;}
span.laranja{color: #FF6600;}
span.cinza4{color: #999999;}
a.link_corpo {
 color:#000066;  
 font-size:11px; 
 text-decoration:none; 
 }

span.item_corpo {
 color:#000066;  
 font-size:11px; 
 text-decoration:underline; 
 }

a.linkVerde {
 color: #336600; 
 text-decoration:none; 
 font-size: 11px;
 display: block;
 }

a.linkMenu {
 color:#FFFFFF; 
 text-decoration:none;
 }
 
a.linkMenuAtivo {
 color:#FF6600;
 text-decoration:none;
 }

fieldset.docPadrao a {
 color:#000066;  
 font-size:11px; 
 text-decoration:none;
         font-weight: bold; 
 }

select {
 font-size: 11px;
 height: 50px;
 }


body {
 font-family: verdana, helvetica, arial;
 text-align: center;
background-image: url(/BNDESnet_1024/imagens/bg_corpo.jpg);
 background-repeat: repeat;
 background-position: center;
 margin-top: 0px;
 margin-bottom: 0px;
}



/* body {
         padding:0px;
         margin:0px;
 font-family: verdana, helvetica, arial;
 text-align: center;
 background-image: url(/BNDESnet/imagens/bg_body.jpg);
 background-repeat: repeat-y;
 background-position: center;
 margin-top: 0px;
 margin-bottom: 0px;
         /*height:100%;*/
 }
*/
.bold {
 font-weight: bold;
 }

.none {
 display: none;
 }
 
.block {
 display: block;
 }

.hidden {
       visibility: hidden;
        }
 
.sublinhado {
 text-decoration: underline;
 }

hr {
 border:1px solid #CCC;
 margin: 0 10px 0 10px;
 }
 
hr.divisor {
 margin-left: 9px;
 width: 175px;
 margin: 0 0 0 9px;
 }

.fleft {
 float: left;
 }
 
.fright {
 float: right;
 }
 
.pontilhado {
 width: 157px;
 border:2px dotted #CCC;
 display: block;
 }

.botao_ok {
 color: #2F7D30;
 font-size: 11px;
 font-weight: bold;
 letter-spacing: 0.1em;
 width:27px;
 height: 18px;
 border: 1px solid;
 border-color: #2F7D30;
 background-color: #EFEFEF;
 }

.busca {
 display: block;
 float: right;
 margin: 15px 0 0 0;
 }
  
.carta {
 display: block;
 float: right;
 margin: 9px 10px 0 0;
 }
  
.botao_busca {
 color: #286A40;
 font-size: 11px;
 font-weight: bold;
 letter-spacing: 0.0em;
 width:52px;
 height: 20px;
 border: 1px solid;
 border-color: #286A40; 
 background-color: #EFEFEF;
 }
 
.textfield {
 background-image: URL(/BNDESnet/imagens/lupa.jpg);
 background-repeat: no-repeat;
 padding-left: 22px;
 border: 1px solid;
 border-color: #488199;
 }
 
.menu-lista-rodape {
 list-style: none;
 /*margin: auto;*/
 margin-top: 15px;
}
 
.menu-lista-rodape li {
 font-size: 10px;
 color: white;
 display: inline;
 padding-right: 2px;
 padding-left: 2px;
 }

.listaCorpo {
 list-style:none;
 list-style-image: none; 
 margin: 0; // 0 0 0 8px
}

.subLista {
 list-style:none; 
 margin: 0 0 0 33px; // 10px 0 0 25px
 cursor: default;
} 

.textohome {
   padding-left: 20px;
   width: 180px;
}

.mais { 
 line-height:17px; 
 margin-left: 5px;
 cursor: pointer;
 background-repeat:no-repeat;
 background-image:URL(/BNDESnet/imagens/bt_mais.gif); 
}

.menos { 
 line-height:17px; 
 margin-left: 5px;
 cursor: pointer;
 background-repeat:no-repeat;
 background-image:URL(/BNDESnet/imagens/bt_menos.gif); 
}

.unico { 
 line-height:17px; 
 margin-left: 5px;
 cursor: pointer;
 background-repeat:no-repeat;
 background-image:URL(/BNDESnet/imagens/bt_vazio.gif); 
}

.naovazio {
 padding: 0;
 margin: 0;
 list-style: none;
}
 
.vejaMais {
 text-align:right;
 display: block;
 }

.ultimasAtualizacoes {
 font-size: 11px;
 display: block;
 padding: 3px 0 0 20px;
 }

 
.textoCinza {
 font-size: 11px;
 color: #999999;
 display: block;
         
 }

.textoCinzaC {
 font-size: 11px;
 color: #999999;
 display: block;
         width:200px;
 }

.textoCinza2 {
 font-size: 11px;
 color: #999999;
 display: block;
         width:150px;
 }

.enqueteOpcoes {
 margin: 8px 0 0 5px;
 font-size: 11px;
 color: #999999;
 display: block;
 }
 
.bt_votar {
 background-image:URL(/BNDESnet/imagens/bt_votar.gif);
 border:none;
 background-color:white;
 width: 44px;
 height: 18px;
 font-size: 11px;
 }

.menu_noticias {
 display: block;
 margin: 17px 0 0px 4px;
 list-style: none;
 cursor: default;
 }
 
.menu_noticias li {
 border-right: 1px solid #CECFCE;
 border-left: 1px solid #CECFCE;
 border-top: 1px solid #CECFCE;
 border-bottom: none;
 font-size: 11px;
 display: inline;
 height: 18px;
 width: 45px;
 margin: 0px 2px 0px 2px;
 text-align: center;
 }
 
#listaNoticias1, #listaNoticias2, #listaNoticias3 {
 list-style-type: square;
 margin: 0 0 0 31px;
 line-height: 15px;
 text-decoration: underline;
 font-size: 10px;
 }
 
.listaRodape {
 list-style-type: square;
 }
 
.textoAtualiza {
 color: #003366;
 font-size: 10px;
 }

a.linkAt:link, a.linkAt:visited, a.linkAt:hover {
         color: #000066;
         font-size: 10px;
         text-decoration: none;
         }

 
#emDia {
 background-color: #ffffff;
 border-bottom:1px solid white;
 }

#clipping {
 background-color: #CECFCE;
 border-bottom:1px solid #CECFCE;
 }

#avisos {
 background-color: #CECFCE;
 border-bottom:1px solid #CECFCE;
 }
 
div.usuario {
 margin-bottom: -5px;
 }
 
div.usuario span.user {
 color:#000066;  
 font-size:11px; 
 display: block;
 margin: 12px 0 5px 30px;
 } 
 
div.usuario img {
 margin: 10px 0 0 10px;
 }
 
div.usuario a {
 text-decoration: none;
 font-size: 11px;
 font-weight: bold;
 color: #FF6600;
 display: block;
 margin: 12px 0 5px 30px;
 }
 
.Noticias {
 float: left;
 width:178px; 
 max-width:178px;
 }
 
.Conteudo_e_atualizacao {
 float: left;
 display: block;
 }

/*
 
.Conteudo {
 background-image: URL(http://intranet/bndesnet/filesmng.nsf/1BE2223633BE478503257392005EACEA/$File/bg_corpo.jpg);
 background-repeat: repeat-y;
 display: block;
 clear: both;
 }
*/

.Trabalho_e_Interpessoal {
 float: left;
 width: 190px;
 clear: both;
 max-width: 190px;
 }
 
.Institucional_e_Capacitacao {
 width: 191px;
 max-width: 191px;
 }
 
.IntraAntiga_e_Servicos {
 float: right;
 width: 189px;
 max-width: 189px;
 clear: both;
 }

.Trabalho_e_Interpessoal li, .IntraAntiga_e_Servicos li {
 background-color: white;
 } 
 
.atualizacoes { 
 margin: 15px 0 0 25px;
 width:549px;
 max-width:549px;
 height:80px; 
 display: block;
 clear: both;
 background-image:URL(/BNDESnet/imagens/bg_ultimas.jpg);
 background-repeat: no-repeat;
 }
 
.noticiasTopo {
 width: 158px;
 height: 50px;
 margin: 0 0 0 9px;
 background-image: url(/BNDESnet/imagens/bg_linha_noticias.jpg);
 background-repeat: no-repeat;
 background-position-y: bottom;
 }
 
.noticiasBase {
 width: 168px;
 height: 360px;
 margin: 0 0 0 10;
 border-right:1px solid #CCCCCC;
 }

.noticiasBase form p {
         display:block;
         clear:both;
         color: #ccc;
         font-family:verdana;
         font-size:11px;

       }
 
.destaque {
 border:1px solid #CCCCCC;
 background-image: URL(/BNDESnet/imagens/bg_destaque.jpg);
 width: 157px;
 max-width: 157px;
 /*height: 141px;*/
 margin: 13px 0 0 0;
 padding: 7px;
 }

div.destaque img {
 width: 140px;
 height: 90px;
 max-width: 50px;
 max-height: 50px;
 }
 
div.destaque a:link, div.destaque a:hover, div.destaque a:visited {
 color: #666666;
 font-size: 11px;
 text-decoration: none;
 text-align: justify;
 }
 
.conteudo_noticias {
 width: 157px;
 max-width: 157px;
 margin: 8px 0 8px 0;
 }

div.conteudo_noticias span.link {
         margin: -1px 0 7px 0; 
         display:block;
         }
 
.secaoIrPara {
 width: 157px;
 max-width: 157px;
 margin-bottom: 3px;
 }
 
.barra_enquete {
 width: 157px;
 max-width: 157px;
 font-size: 11px;
 letter-spacing: 0.1px;
 padding: 3px 0 0 8px;
 border:1px solid #CCCCCC;
 background-image: URL(/BNDESnet/imagens/bg_destaque.jpg);
 height: 20px;
 }
 
.principal_trabalho {
 width: 185px;
 clear: both;
 display: block;
 }
 
.interpessoal {
 width: 185px;
 clear: both;
 display: block;
 }
 
.institucional {
 width: 185px;
 clear: both;
 display: block;
 }
 
.capacitacao {
 width: 185px;
 clear: both;
 display: block;
 }
 
.IntraAntiga {
 width: 186px;
 display: block;
 clear: both;
 }
 
.Servicos {
 width: 186px;
 display: block;
 clear: both;
 }

 
/*------------------------------------------------------------------------------------------Fim Principal ----------------------------------------------------------------------------------------------------*/
 
/*------------------------------------------------------------------------------DIVs da Página de Transição------------------------------------------------------------------------------------------- */

.topo_transicao {
 /*
         width:955px; 
 max-width: 955px;
 background-image:URL(/BNDESnet/imagens/bg_transicao.jpg); 
 background-repeat: no-repeat;
         */
         margin:0px;
         padding:0px;
         background-image:URL(/BNDESnet/imagens/topo_trans1.jpg); 
 background-repeat: no-repeat;
         float:left;
         width:401px;
         height:41px;
         cursor:hand;
 }

.form_topot{
width:250px;
margin:0px;
padding:0px;
height:41px;
float:right;
position:relative;

}

.content_topot{
         margin:0px;
         padding:0px;
         background-image:URL(/BNDESnet/imagens/topo_trans2.jpg); 
 background-repeat: repeat-x;
         height:41px;
         width:100%;

}
 
.menu_nav_intranet_trans {
 display:block;
 width:200px; 
 height:39px;
 /*margin: 10px 30px 0 0;*/
         position:absolute;
         top:10px;
         left:10px;
 }

.menu_nav_intranet_trans select { width: 185px; }
 
.botao_transicao {
 display:block;
 /*margin: -22px 0 0 177px;*/
         position:absolute;
         top:0px;
         left:195px;
 }


 
/*------------------------------------------------------------------------------   Fim  ------------------------------------------------------------------------------------------- */

/*------------------------------------------------------------------------------ Portais do BNDES ------------------------------------------------------------------------------------------- */
 
.topo_portais {
 width: 955px;
 height: 73px;
 display: block;
 clear: both;
 max-width: 955px;
 background-image: URL(/BNDESnet/imagens/bg_topo_normas.jpg);
 background-position: bottom;
 background-repeat: no-repeat;
 }
 
.menu_portais {
 width: 955px;
 height: 31px;
 display: block;
 clear: both;
 }
 
.menu_normas {
 background-image: URL(/BNDESnet/imagens/bg_menu_normas.jpg);
 background-repeat: repeat-x;
 }
 
.menu_financeiro {
 background-image: URL(/BNDESnet/imagens/financeiro/bg_menu_financeiro.jpg);
 background-repeat: repeat-x;
 }
 
.bt_ok_normas {
 margin: -20px 0 0 168px;
 }

.menu_portais_lista {
 font-size: 10px;
 font-weight: bold;
 color: white;
 list-style: none;
 word-spacing: 1px;
 display: block;
 margin: 8px 0 0 15px;
 }
 
.menu_portais_lista li {
 display: inline;
 }
 
.menu_nav_intranet {
 width:250px; 
 height:0px;
 margin: -25px 0 0 500px;
 }
 
.BNDESnet {
 margin: 0 0 0 15px;
 border: none;
 }
  
.logo_bndes_peq {
 float: right;
 margin: -30px 10px;
 }
   
.titulo_portais {
 font-family: trebuchet ms;
 font-size: 25px;
 margin: 0 0 5px 15px;
 }

.titNormas {
 color: #CC6666;
 }
 
.titFinanceiro {
 color: #336633;
 }
 
.rodape_portais {
 display: block;
 clear: both;
 text-align: center;
 }
 
/*------------------------------------------------------------------------------   Fim  ------------------------------------------------------------------------------------------- */ 

/* ---------------------------------------------------------------------------- Styles internas---------------------------------------------------------------------------*/

.coluna_emDiaOnline {
 width: 400px;
 max-width: 400px;
 display: block;
 float: left;
 margin: 0 10px 0 10px;
 }
 
.coluna_clipping {
 width: 165px;
 max-width: 165px;
 display: block;
         float: left;
 margin: 0 0 0 10px;
 }
 
.coluna_Avisos_e_Dicas {
         display: block;
 float: right;
 margin: 0
 }
.coluna_Avisos_e_Dicas fieldset {
        width:310px;
 
}
 
.coluna_Avisos_e_Dicas span.irPara {
 margin-top: -3px;
}

.avisos_contexto {
 width: 277px;
 max-width: 277px;
 /*height: 154px;*/
 display: block;
 border:1px solid #CCCCCC;
 background-image: URL(/BNDESnet/imagens/bg_destaque.jpg);
 margin-bottom: 5px;
 }
 
.dicas {
 border:1px solid #CCCCCC;
 background-image: URL(/BNDESnet/imagens/bg_destaque.jpg);
 width: 277px;
 /*height: 106px;*/
 display: block;
 margin: -15px 0 5px 0;
 }
 
.contexto_direita {
 display: block;
 width: 450px;
 margin: 0 0 0 10px;
 /*line-height: 25px;*/
 }
 
div.contexto_direita div {
 display: block;
 width: 450px;
 margin-bottom: 15px;
 }

div.contexto_esquerda div {
 display: block;
 width: 450px;
 margin-bottom: 1px;
 margin-top: -25px;
 }

.contexto_esquerda {
 display: block;
 width: 450px;
 margin: -10px 0 0 10px;
  /*line-height: 25px;*/
 }
 
.subTitulo { 
 color: #336600;
 font-size: 11px;
 display: block;
 font-weight: bold;
 }
 
.subTituloContexto {
 margin-bottom: 5px;
 }
 
#bodyContexto.subHide span {
 display: block;
 }

#bodyContexto a {
         margin: 2px 0 0 0;
         }

#bodyNoticias.corpo span {
 display: block;
 }
 
.itemContexto {
 display: block;
 margin-bottom: 0px;
 }

.itemContextoVerde { padding-left: 28px; margin-top:5px; }
 
.explicacao {
 color: #666666;
 font-size: 10px;
 display: none;
 margin:5px 15px 7px 0; /*margin: 0px 15px 5px 0px;*/
 line-height:13px;
 }

.explicacaoMargin { margin-left: 32px; }
 
.irPara {
 display: block;
 text-align: right;
 margin-top: 13px;
 margin-bottom: 30px;
 }
 
.quadro {
 display: block;
 margin: 10px 7px 10px 7px;
 }
 
.oculta_exp {
 display: block;
 text-align: right;
 margin: -10px 15px 0px 0;
 _margin: -10px 15px 0px 0;
 }
 
.oculta_exp span {
 display: block;
 margin: -10px 0 0 0;
 _margin: -10px 0 0 0;
 }
 
.img_oculta {
 display: block;
 border: none;
 margin: 0px 110px -11px 0;
 }
  
/* ---------------------------------------------------------------------------- Styles comuns entre paginas ---------------------------------------------------------------------------*/

.principal {
 width: 955px;
 max-width: 955px;
 display: block;
 clear: both;
 text-align: left;
 background-color: white;
 margin-top: 0px;
         height:100%;
 }

#banner {
 width: 955px;
 height: 95px;
         clear: both;
 max-width: 955px;
         max-height: 95px;
 margin-top:1px;
 margin-bottom: -3px;
         }

#banner div {
         height: 95px; 
         max-height: 95px;        
         }

#banner div.fright {
          margin: 10px 20px -10px 0;
         }

#banner h1, #banner h2, #banner h3 {
         color: white;
         margin-bottom: -15px;
         }

#banner h1 {font-size: 18px;}
#banner h2 {font-size: 15px;}
#banner h3 {font-size: 13px;}
 
.barra_banner {
 width: 955px;
 max-width: 955px;
 display: block;
 clear: both;
 height: 5px;
 background-image: URL(/BNDESnet_1024/imagens/barra_botao.jpg);
 background-repeat: repeat-x;
 font-size:5px;
 }
 
.seta_banner {
 display: block;
 margin: 0px 0 0 375px;
 border: none;
 }
 
.corpo {
 width: 955px;
 max-width: 955px;
 display: block;
 clear: both;
 margin-top: 5px;
 height: 73%;
 }

.corpoOld {
 width: 955px;
 max-width: 955px;
 display: block;
 clear: both;
 margin-top: 5px;
          }
  
.topo {
 background-repeat: no-repeat;
 top:0px; 
 height:55px;
 width: 955px;
 max-width: 955px;
 display: block;
 clear: both;
 }

.topo img.logo { margin-left: -20px; }
 
.menu_topo { 
 background-image: URL(/BNDESnet_1024/imagens/bg_menu.jpg);
 background-repeat: repeat-x; 
 height:35px;
 width: 955px;
 max-width: 955px;
 display: block;
 clear: both;
 max-height: 35px;
 margin-bottom:-1px;
 }
 
.rodape {
 width: 955px;
 height: 40px;
 text-align: center;
 margin: 10px 0 0 0;
 background-image: URL(/BNDESnet_1024/imagens/rodape.jpg);
 background-repeat: repeat-x;
 display: block;
}

.imgSeta {
 margin: 0 0 -1 5;
 border: none;
 }
  
.menu-esq{
 display: block;
 margin: 5px 0 0 0;
 float: left;
 }
 
.menu-dir{
 display: block;
 margin: 5px 0 0 0;
 float: right;
 }
 
.menu_topo_lista {
 list-style: none;
 margin: 14px 0 0 25px;
 }
 
.menu_topo_lista li {
 color: white;
 display: inline;
 font-size: 10px !important; 
 font-weight: bold !important; 
 padding-left: 3px;
 padding-right: 3px;
 }
 
fieldset {
 padding: 20px;
 border: 1px solid #c6c6c6;
 /*height: 200px;*/
 font-size:11px;
 margin: 0 20px 20px 20px;
 }
 
div.resultadoBusca {
 margin-bottom: 20px;
 }
 
.cinza {
 color: #666;
 margin-bottom: 10px;
 display: block;
         font-size:11px;
 }
 
fieldset legend {
          font-size: 11px;
 font-weight: bold;
 color: #FF6600;
 margin-left: 0px;
 margin-bottom: 10px;  
 }

div.legendOrg {
         position: absolute;
         width:500px;
         max-width:500px;
         top: -7px;
         left: 10px;
 font-size: 11px;
 font-weight: bold;
 color: #FF6600;
         margin-bottom: 5px;
         }

div.legendOrg span { background-color: white; }

div.materia {
 width: 590px;
 max-width: 590px;
 }
 
 
div.central { /* DIV Central da seção Solidário */
 display: block;
 width: 430px;
 max-width: 430px;
 margin-left: 20px;
 font-size:10px;
 }
 
div.central div {
 border-bottom: 1px solid #ccc;
 margin-bottom: 15px;
 }
 
div.central span.titulo {
 color: #336400;
 display: block;
 margin-top: 15px;
 margin-bottom: -10px;
 }
 
div.central p {
 margin-bottom: -10px;
 }
 
div.central span.assinatura {
 margin-top: 40px;
 margin-bottom: 50px;
 }

div.central span.assinatura a{
 text-decoration:none;
         color:#666666;
 }
 
div.colabore {
 width: 160px;
 height: 160px;
 }
 
div.colabore span {
 font-size:10px;
 margin-right: 10px;
 }
 
div.colabore span.sublinhado {
 cursor: hand;
}

span.textoVerde {
 color: #336400;
 width: 100%;
 margin: 0 10px 10px 0;
 font-size:11px;
 }
 
div.colabore span.textoVerde {
 border-bottom:1px solid #336400;
 }
 
div.colabore span.cinza {
 color: #666;
 margin: 0 45px 10px 0;
 display: block;
 border: none;
 text-align: justify;
 }
 
span.sufixoMail {
 display: block;
 margin: -18px 0 0 325px;
 } 
 
input.campoTexto, form.formColaboracao textarea {
 border:1px solid #ccc;
 }
 
.bt_formColab {
 margin: -10px 0 0 2px;
 border:1px solid black;
 height: 20px;
 width: 80px;
 }
 
.formColaboracao input.enviar {
 margin: 10px 0 0 535px;
 }
 
form.formColaboracao {
 font-size: 10px;
 margin: 40px 0 0 0;
 }
 
form.formColaboracao p {
 margin-bottom: -5px;
 }
 
div.formTexto {
 width: 175px;
 max-width: 175px;
 }
 
.formcolaboracao span {
 margin-right: 60px;
 }
 
div.sec_Interpessoal span.textoVerde {
 margin-left: 10px;
 }
 
fieldset.docPadrao span.titulo {
 color: #336400;
 display: block;                 
 margin-top: 15px;
 margin-bottom: 15px;
 font-weight: bold;
 font-size: 12px;
 }
 
fieldset.docPadrao span.data {
 color: #ff9000;
 display: block;
 margin-top: 15px;
 }
 
fieldset.docPadrao p {
 margin-bottom: -10px;
 }
 
fieldset.docPadrao span.assinatura {
 margin-top: 40px;
 margin-bottom: 50px;
 }
 
fieldset.docPadrao span.cinza {
 display: block;
 margin-top: 0px;
 }

textarea.txtConosco {
   margin-left:40px;
   color:grey;
}

fieldset.login div {
 margin-top: 30px;
 height: 80px;
 padding-top: 20px
 }
 
fieldset.login div.fleft {
 font-size: 11px;
 border-right: 1px solid #ccc;
 width: 50%;
 }
 
fieldset.login div.fright {
 font-size: 11px;
 margin-right: 40px;
 }
 
.loginsubmit {
 height:20px;
 font-size:10px;
 background-color: #EFEBEF;
 width: 20px;
 color: #666;
 border:1px solid #ccc;
 }
 
fieldset.login input.login {
 margin-left: 6px;
 }
 
.contentBoxes{
margin:10px 0 0 20px;
padding:0px;
display:block;
width:329px!important;
max-height: 120px!important;
background-image: url(/BNDESnet_1024/imagens/line.jpg);
background-repeat: repeat-y;
cursor: hand;
}

.topSolidario{
margin:0px;
padding:0px;
display:block;
width:329px;
height:14px;
background-image:url(/BNDESnet/imagens/topoBox_solid.jpg);
background-repeat:no-repeat;

}

.topClassif{
margin:0px;
padding:0px;
display:block;
width:329px;
height:14px;
background-image:url(/BNDESnet/imagens/topoBox_class.jpg);
background-repeat:no-repeat;

}
.topDoacao{
margin:0px;
padding:0px;
display:block;
width:329px;
height:14px;
background-image:url(/BNDESnet/imagens/topoBox_doac.jpg);
background-repeat:no-repeat;

}
.topFalec{
margin:0px;
padding:0px;
display:block;
width:329px;
height:14px;
background-image:url(/BNDESnet/imagens/topoBox.jpg);
background-repeat:no-repeat;

}

.cont{
margin:0 0 0px 1px;
padding:0px;
display:block;
width:329px;
background-repeat:no-repeat;
background-position:left bottom;
}
.contSolid{
background-image:url(/BNDESnet/imagens/bodyBox_solid.jpg);
}

.contClassif{
background-image:url(/BNDESnet/imagens/bodyBox_class.jpg);
}

.contDoacao{
background-image:url(/BNDESnet/imagens/bodyBox_doac.jpg);
}

.contFalec{
background-image:url(/BNDESnet/imagens/bodyBox.jpg);
}

.cont span{
margin:0px;
padding:0px;
display:block;
font-family:verdana;
font-size:11px;
width:250px;
margin-bottom:30px;
margin-left:10px;
}
/* adicionados */
 
.txtConosco {
   padding-left:62px;
   color:grey;
}
.selectAssunto {
 width:383px;
}
.bt_enviar_cinza {
 border:1px solid black;
 background-color:grey;
 color:black;
        width:70px;
 height:20px;
}
.rodape2 {
 width:955px; 
 height:40px; 
 margin: 2px 0 0 0;
 background-image: URL(/BNDESnet/imagens/rodape.jpg);
 background-repeat: no-repeat;
 display: block;
 }
textarea.campoTexto {
 border:1px solid #ccc;
 overflow:auto;
 scroll:no;
}
span.dept {
 
 width:955px; 
 height:10px;
 text-align:center;
 margin: 120px 0 0 0;  
}
.campoTexto2 { 
   border:1px solid #ccc;
}
#blank {
 height:100px;
}

a.menuVert:visited, a.menuVert:link, a.menuVert:hover {
 font-weight: bold;
 color: #4b7b49;
 text-decoration: none;
 }

div.matInter {
 width: 320px!important;
 max-width: 320px!important;
 margin: 0 10px 0 5px;
 }
 
div.interPessoalMat {
 display: block;
 width: 700px;
 margin: 15px 0 0 10px;
 }

/* menu vertical operacional  ==NO MODIFY== */
.listaMenuVerticalHS {
 list-style-image: URL(/bndesnet/imagens/bt_vazio.gif);
 margin-left: 25px;
 line-height: 13px;
 }

.DIVmenuVertical {
        float: left;
 width: 153px;
         height: 100px;
 margin-left: 5px;
 margin-right: 15px;
}
#menuNivel1 {
 }
 
#menuNivel1 a:link, #menuNivel1 a:visited, #menuNivel1 a:hover {
 text-decoration: none;
 color: #666;
 }
.topoMenuVertical {
 height: 26px;
 background-image: URL(/bndesnet/imagens/topomenuvert_1.gif);
 background-repeat: no-repeat;
 }
 
.titMenuVertical {
 color: white;
 font-weight: bold;
 font-size: 11px;
 margin-left: 15px;
 margin-top: 7px;
 display: block;
 cursor: hand;
 }
.contentMenuVertical {
 background-color: #E8E8E8;
 height: 160px;
 font-size: 11px;
 color: #666;
 line-height: 22px;
 }
.rodapeMenuVertical { 
         font-size: 0px;
 width: 153px;
 height: 19px!important;
 background-image: URL(/bndesnet/imagens/rodapemenuvert.gif);
 background-repeat: no-repeat;
 background-position: bottom;
}
.contentMenuVertical ul {
 list-style-image: URL(/bndesnet/imagens/bt_vazio.gif);
 margin-left: 30px;
}


/* fim menu vertical operacional */


/* hotsites  ==NO MODIFY== */

.coluna_direita_hs {
         margin-right: 5px;
 width: 550px;
 }
.destaqueHS {
         width: 245px;
 height: 120px;
 margin-left: 10px;
 }
 
.destaqueHS2 {
         width: 245px;
 height: 170px;
 margin-left: 10px;
         margin-right:5px;
 } 
.destaqueHSFin {
         width: 350px;
         max-width:350px;
 height: 150px;
         max-height:150px;
         margin-left: 1px;
         margin-right: 1px;
         margin-bottom:0px;
         padding-bottom:5px;
 } 

.destaque_conteudo_ultimas {
 width: 520px;
 height: 100px;
  display: block;
 margin-bottom: 20px;
 padding-bottom: 10px;
 }

.coluna_direita_sae span {
 line-height: 13px;
 display: block;
 margin-top: 5px;
 }

.destaque_conteudo_ultimas fieldset {
 margin-right: -5px;
 }

.destaque_conteudo_ultimas div.texto {
 display: block;
 width: 400px;
 max-width: 400px;
 }

div.imagem {
 margin-left: 5px; 
 width: 120px;
 }
 
div.imagem div {
 border:1px solid #ccc;
 margin: 1px;
 }
 
div.imagem img {
         
 margin: 2px 2px 2px 2px;
 } 
.destaque_conteudo_ultimas img {
 margin: 5px 5px 5px 5px;
 }
 
img.fleft {
 margin: -3px 0 0 0px;
 }
/*
span.breadcrumb {
         color: #FF6600;
         font-weight:bold;
         font-size:12px;
}
*/
.boxImg {
   height:100%;
   width:40%;
   float:left;
} 
.destaqueTexto {
    float:right;
}
.destaqueTextoOp {
    margin-top: -7px;
    margin-left: -10px;
    float:right;
}
.topo_direito {
  w//idth:550px;
  height:150px;
  width:100%;
  margin-right:2px;
  
} 
.destaqueTextoG {
 height:100%;
 width:99%;
 float:right;
}
.titdestaque a, .titdestaque a:visited {
  color: #336400;
  font-weight:bold;
  font-size:12px;
  text-decoration:none;
}
.titdestaque {
   padding-top:5px;

}
.resdestaque {
  color: grey;
  font-size:11px;
 }
.pdestaque {
     width:100%;
     margin-bottom: -5px;
 
 }
.datadestaque {
  color: #ff9000;
  margin-top: 10px;
}
.bodyfinanceiro {
  
  padding-left: 20px;
  width:99%;
  height:99%;
}
.divdestaques {
   padding-bottom: -20px;
   width:100%;
   margin-left:-5px;
   
}
.destaque_conteudo_Fin {
        
 width: 720px;
 height: 100px;
  display: block;
         margin-top: 20px;
         margin-left: 4px;
          margin-bottom: 20px;
 padding-bottom: 10px;
}
.destaque_conteudo_Fin img {
 margin: 5px 5px 5px 5px;
 }
.destaque_conteudo_Fin fieldset {
 margin-right: -5px;
 }

.destaque_conteudo_Fin div.texto {
 display: block;
 width: 400px;
 max-width: 400px;
 }
div.imagemFin {
         border:1px solid #ccc;
 margin-left: 5px; 
 width: 120px;
 }
 
div.imagemFin div {
 border:1px solid #ccc;
 margin: 1px;
 }
 
div.imagemFin img {
     margin: 2px 2px 2px 2px;
}
div.boxImg {
 
 height:80px;
 width:90px;
 padding: 2px 2px 2px 2px;
 float: left;
 margin-top: -7px; 
 margin-bottom: 5px;
 margin-left: 0px;
 margin-right: 5px;
}
div.listItem {
  height:20px!important;
  /*width:235px!important;*/
}
div.listItemNew {
  height:20px!important;
  /*width:260px!important;*/
}
.addMargin {
  margin-left:20px;
}
a.cinza{
 color: #666!important; 
         text-decoration:none;
         display:inline;
}
/* Estatisticas operacionais added */
.textoestatisticas{
 font-size: 11px;
 color: #000000;
 display: block;
 padding: 10px 10px 0 10px;
}

.bulletimg{
 list-style: list-style: url(imagens/bullet_estop.jpg);
}


.sidebara{
 width:487px;
 float:left;
 padding-left: 20px;
}

.sidebarb{
 width:233px;
 float:right;
 padding-right:20px;
}

.titboxea{
 font-size:11px;
 color:#009900;
 background-color: #EDEDED;
 width: 670px;
 height: 36px;
 padding-left: 5px;
 padding-top: 3px;
}
 
.titboxeb{
 font-size:11px;
 color:#009900;
 background-color: #EDEDED;
 height: 36px;
 padding-left:5px;
 padding-right: -5px;
 padding-top: 3px;
 
}

.posicao1{
 font-size:10px;
 color:#999999;
 /*margin-left:245px;*/
         float: right;
}

.posicao2{
 font-size:10px;
 color:#999999;
 margin-left:26px;
}

.posicao3{
 font-size:10px;
 color:#999999;
 margin-left:46px;
}

.bgcont{
 background-color: #F5F5F5;
}

.contboxe1{
 width:670px;
 height: 134px;
 font-size:11px;
  
}

.contboxe2{
 height: 56px;
 font-size:11px;

}

.contboxe3{
 height: 76px;
 font-size:11px;
 
}

.txttabela1{
 font-family: verdana;
 font-size: 10px;
 color: #000000;
 vertical-align: middle;
 
}

.selectseries{
 width: 120px;
 font-size: 11px;
 height: 10px;
}

.txtcoment{
 color:#999999;
 font-size:11px;
 margin-left: 18px;
}

/* fim estatisticas operacionais added */

td.enqueteKBX {
 font-size: 10px;
 color: #000066;
 
}
input.votarbutton {
       border:1px solid #000066;
       background-color:white;
       color:#000066;
   
} 
td.textEnquete {
       font-size: 10px;
       border:1px solid red;
       color: #999999;
}
a.voltarA {
       font-size: 10px;
       color: #999999;
       font-weight:bold;
       padding-left:20px;

}
.totalEnquete {
   margin-top:5px;
   font-size: 10px;
   color: #999999;
}
#aguardeKBX {
    margin-top:20px;
    padding-left:10px;
    padding-top:15px;
    
}
.aguardeKBX {
    color:#99999;
    padding-left:5px;
    font-size:10px;
    font-weight:bold;
}
#enquete_resp table tr td {
     font-size: 11px;
     color: #999999;
}
.enqueteKBX {
    font-size: 9px;
    color: #999999;
    margin-top:5px;
    margin-bottom:5px;
}
#emptychoice {
   margin-top:5px;
}

ul.menuantigo{
list-style:none;
margin:0px;
padding:0px;
margin-left:20px;

}

ul.menuantigo li{
margin:0px;
padding:0px;

}


ul.menuantigo li div.explicacao2 {
         font-size:11px;
 color: #666666;
 font-size: 10px;
 display: block;
 margin: 0px 15px 5px 0px;
 line-height:13px;
}


ul.menuantigo li div{
         display:none;
         margin:0px!important;
         padding:0px;
 color: #666666;
 font-size: 10px;
 margin: 0px 0px 5px 0px;
}


/* fim hotsites */

/* Breadcrumb */
.breadcrumb {
 font-size: 10px;
 color: gray; /* #ff6600; */
 /* font-weight: bold; */
 margin: 5px 0 0 15px;
}

.breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:hover {
 color: gray; /* #333333 */
 text-decoration: none;
}
/* Fim Breadcrumb*/

.boxcentral {
        BORDER-BOTTOM: #dedfda 1px solid;
        BORDER-LEFT: #dedfda 1px solid;
        WIDTH: 100%;
        BORDER-TOP: #dedfda 1px solid;
        BORDER-RIGHT: #dedfda 1px solid;
        FONT-SIZE: 12px
        
}
 
